.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 25px;
    margin: 20px 0;
    padding: 0 20px;
    border-radius: 10px;
    background-color: hsla(0,0%,100%,.2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: border-box;
    box-shadow: 10px 10px 10px rgb(46 54 68 / 3%);
    color: white;
}

.expense-item__description {
    display: flex;
    align-items: center;

}

.expense-item__date {
    margin: 0;
}

.expense-item__title {
    margin: 0 20px;
    font-style: italic;
}

.expense-item__price {
    margin: 0;
    font-size: 30px;
}
