@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body {
    background-image: url("https://images.pexels.com/photos/5997286/pexels-photo-5997286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
