.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    margin: 20px 0;
    padding: 5px 20px;

    color: white;
}

.expense-item__description {
    display: flex;
    align-items: center;

}

.expense-item__title {
    margin: 0 20px;
    font-style: italic;
}

.expense-item__price {
    margin: 0;
    font-size: 30px;
}
